option_settings:
  "aws:elasticbeanstalk:container:python:environment":
    AWS_ACCESS_KEY_ID: "ABC123"
    AWS_SECRET_KEY: "QWERTY09876"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: flaskr.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/"
